body{
  background: url("Web 1920 – 1.jpg") no-repeat top center;
  background-size: cover;
}
.navigasi{
  overflow: hidden;
  top: 5;
  width: 100%;
  margin: 0px 8px 15px 15px;
}
img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
form.register{
  background-color: rgba(255,255,255,1);
  padding: 20px 45px 20px 20px;
  width: 320px;
  margin: 20px auto;
}
input{
  padding: 5px;
  font-size: inherit;
}
input [type="text"] {
  display: block;
  margin-bottom: 10px;
  width : 100% ;
  border: 2px solid #305d60;
  background: #faf6d9;
}
input.register [type="submit"] {
  width: 344px;
  height: 45px;
  border: none;
  background: #00CFDF;
  color: #000000;
}
input.Login [type="password"] {
  display: block;
  margin-bottom: 10px;
  width : 100% ;
  border: 2px solid #305d60;
  background: #faf6d9;
}
form.Login{
  background-color: rgba(255,255,255,1);
  padding: 20px 45px 20px 20px;
  width: 320px;
  margin: 20px auto;
}
.gaminge{
  color: #9BFFFF;
  margin-left: 50px;
  margin-bottom: 0px;
  font-family: myanmar text;
  font-size: 30px;
}
.WithOnetech{
  color: #4b4b4b;
  margin-left: 50px;
  margin-top: 0px;
  font-family: myanmar text;
  font-size: 25px;
}
form.Selengkapnya [type="submit"]{
  width: 200px;
  height: 45px;
  border: none;
  background-color: #01c9c9;
  color: white;
  margin-left: 50px;
}
