body{
  background: url("Web 1920 – 1.jpg") no-repeat top center;
  background-size: cover;
}
div.header{
  background-color: #252a2a;
  border-color: #252a2a;
  border-radius: 20px;
}
header.img {
  position: absolute;
  left: 0px;
  top: 0px;
}
form.Signup{
  float: left;
  margin-left: 1360px;
  margin-top: -82px;
}
form.Signin{
  float: right;
  margin-top: -82px;
  margin-right: 10px;
}
form.cari{
  position: absolute;
  float: right;
  margin-top: 0px;
  margin-left: 1300px;
}
div.navigasi{
  overflow: hidden;
  top: 5;
  width: 100%;
  margin: 0px 8px 15px 15px;
  text-decoration-color: #ffffff;
}
input{
  padding: 3px;
  font-size: inherit;
}
input [type="text"] {
  display: block;
  margin-bottom: 10px;
  width : 100% ;
  border: 2px solid #305d60;
  background: #faf6d9;
}
input.register [type="submit"] {
  width: 344px;
  height: 45px;
  border: none;
  background: #00CFDF;
  color: #000000;
}
input.Login [type="password"] {
  display: block;
  margin-bottom: 10px;
  width : 100% ;
  border: 2px solid #305d60;
  background: #faf6d9;
}
div.WithOnetech{
  color: #4b4b4b;
  font-family: myanmar text;
  font-size: 25px;
  margin-top: 300px;
  text-align: left;
}
div.gaminge{
  float: left;
  color: #9BFFFF;
  font-family: myanmar text;
  font-size: 30px;
  margin-top: 150px;
  margin-left: 100px;
}
form.Selengkapnya [type="submit"]{
  width: 200px;
  height: 45px;
  border: none;
  background-color: #01c9c9;
  color: white;
  margin-left: 100px;
}
