body{
  background: url("img/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
div.header{
  background-color: #252a2a;
  border-radius: 20px;
}
header.img {
  position: absolute;
  left: 0px;
  top: 0px;
}
.header img.logo{
  width: 40%;
  height: 15%;
}
form.Signup{
  float: left;
  margin-top: -66px;
  margin-left: 83%;
}
input.Signup{
  width: 150%;
  height: 45px;
  border-radius: 50px;
  border: none;
  background: #009F9F;
  color: white;
}
form.Signin{
  position: absolute;
  float: right;
  margin-top: -66px;
  margin-left: 90%;
}
input.Signin{
  width: 175%;
  height: 45px;
  border-radius: 50px;
  border: none;
  background: #F8B807;
  color: white;
}
input.loginin{
  width: 210px;
  height: 45px;
  border: none;
  background: #00CFDF;
  color: black;
}
input.daftarin{
  width: 210px;
  height: 45px;
  border: none;
  background: #00CFDF;
  color: black;
}
form.Login{
  background-color: rgba(255,255,255,1);
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  width: 320px;
  margin : 20px auto;
  text-align: center;
}
div.tambahDataAdmin{
  text-align: center;
}
div.results{
  margin-left: 35%;
  background-color: #ffffff;
  text-align: center;
  width: 30%;
  border-radius: 10px;
}
form.register{
  background-color: rgba(255,255,255,1);
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  width: 320px;
  margin : 20px auto;
  text-align: center;
}
input{
  padding: 3px;
  font-size: inherit;
}
input [type="text"] {
  display: block;
  margin-bottom: 10px;
  width : 100% ;
  border: 2px solid #305d60;
  background: #faf6d9;
}
input.register [type="submit"] {
  width: 344px;
  height: 45px;
  border: none;
  background: #00CFDF;
  color: #000000;
}
input.Login [type="password"] {
  display: block;
  margin-bottom: 10px;
  width : 100% ;
  border: 2px solid #305d60;
  background: #faf6d9;
}
form.gaminge{
  color: #9BFFFF;
  font-family: myanmar text;
  font-size: 180%;
}
form.WithOnetech{
  color: #4b4b4b;
  font-family: myanmar text;
  font-size: 160%;
  margin-top: -4%;
}
input.selengkapnya{
  width: 15%;
  height: 45px;
  border: none;
  background: #1d9fb6;
  color: white;
  font-size: 120%;
}
div.contentindex{
  margin-top: 10%;
  margin-left: 10%;
}
div.navigasi ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 110%;
}
div.navigasi li{
  float: left;
}
div.navigasi li a{
  display: block;
  font-family:sans-serif;
  color: #252a2a;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
div.navigasi{
  margin-left: 40%;
}
li.kategori{
	display:inline-block;
}
li.kategori:hover ul.isi-kategori{
	display: block;
  border-bottom: none;
}
ul.isi-kategori a:hover {
	color: blue !important;
  border-bottom: none;
}
ul.isi-kategori{
	position: absolute;
	display: none;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: #f9f9f9;
}
ul.isi-kategori a{
	color: #383636 !important;
}
.navigasi li :hover{
  text-decoration:underline;
  background: white;
}
form.cari{
  position: absolute;
  float: right;
  margin-top: 5px;
  margin-left: 83%;
}
.cari {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 2px solid #252a2a;
  padding: 8px 0;
}
.cari input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: #252a2a;
}
.cari input::placeholder {
  color: #252a2a;
}
.content-produk{
  float: right;
  display: grid;
  grid-gap: 20px 20px;
  grid-template-columns: auto auto auto;
  background-color: none;
  padding: 0px;
  margin-top: 3%;
}
.item{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 65px;
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
}
.item h1{
  font-size: 15px;
  font-family: sans-serif;
  text-align: left;
  margin-top: 20px;
}
.item h2{
  font-size: 15px;
  color: #fc7900;
  font-family: sans-serif;
  text-align: left;
  margin-top: 0px;
}
input.button{
  font-size: 15px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: #009F9F;
  color: white;
  margin-left: -70px;
}
.macam-produk{
  float: left;
  height: auto;
  margin-top: 3%;
  margin-bottom: 10%;
  margin-left: 0%;
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  width: 25%;
}
.tambahproduk {
  position: absolute;
  width: 8%;
  height: 45px;
  border-radius: 10px;
  border: none;
  background: #121616;
  color: #5fc2c2;
  margin-top: -4%;
  margin-left: 16%;
}
img.tambah-foto{
  position: relative;
  width: 25%;
  margin-left: 10%;
  margin-right: 8%;
  margin-bottom: 5%;
}
img.tambah-foto:hover{
  opacity: 0.7;
}
h3{
  font-family:sans-serif;
}
.macam{
  display: block;
  font-family:sans-serif;
  color: #252a2a;
  text-decoration: none;
}
#message {
  display:none;
  background-color: rgba(255,255,255,0.5);
  color: #000;
  position: absolute;
  padding: 5%;
  margin-top: -32%;
  margin-left: 5%;
  width: 17%;
  height: 35%;
}
#message p {
  font-size: 100%;
}
.valid {
  color: green;
}
.valid:before {
  position: relative;
  left: -20%;
  content: "OK";
}
.invalid {
  color: red;
}
.invalid:before {
  position: relative;
  left: -35px;
  content: "X";
}
h2.judul-produk{
  font-size: 3vw;
  font-family: sans-serif;
  text-align: center;
  color: #ffffff;
  margin-left: 37%;
  background-color: #252a2a;
  width: 30%;
  border-radius: 0px;
}
.card {
  background-color: rgba(255,255,255,0.5);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
  max-width: 30%;
  margin: auto;
  text-align: center;
  font-family: arial;
  font-size: 1,4vw;
  margin-left: 37%;
  margin-top: -2%
}
img.gambar-produk{
  padding-top: 7%;
  width: 70%;
}
p.deskripsi{
  font-size: 1.2vw;
}
.price {
  color: #534d51;
  font-size: 1.4vw;
}
.card button {
  border: none;
  outline: 0;
  padding: 3%;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 2vw;
}
.card button:hover {
  opacity: 0.7;
}
input.Signup:hover {
  background-color: #252a2a;
  border-color: #278fa2;
  border-style: solid;
}
input.Signin:hover {
  background-color: #252a2a;
  border-color: #ecb40e;
  border-style: solid;
}
input.alamat-tujuan{
  position: absolute;
  margin-top: -4%;
  margin-left: 40%;
  width: 15%;
  height:28px;
  background-color: rgba(255,255,255,0.4);
  border-style: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}
input.alamat-tujuan::placeholder{
  color: #434441;
}
input.tambahproduk:hover {
  opacity: 0.7;
}
div.footer{
  position: relative;
  margin-top: 104%;
  background-color: #252a2a;
  border-radius: 10px;
  height: 290px;
}
div.footer-kiri{
  float: left;
  width: 25%;
  padding-left: 2%;
  padding-top: 1%;
}
img.logo-footer{
  width: 90%;
  margin-left: 6%;
}
p.isi-footer{
  font-size: 1.3vw;
  color: #fefefe;
}
div.footer-tengah{
  margin-left: 45%;
  padding-top: 0.1%;
}
h3.site{
  color: #ffffff;
}
.link-site{
  text-decoration: none;
}
p.site{
  color: #ffffff;
  margin-left: -2%;
}
p.site:hover{
  color: #04f1f9;
}
div.footer-kanan{
  float: right;
  width: 25%;
  margin-top: -20%;
}
img.icon-footer{
  width: 5%;
}
p.isi-icon{
  color: #ffffff;
  margin-left: 7%;
  margin-top: -5%;
}
p.isi-icon:hover{
  color: #04f1f9;
}
div.content-tentang{
  margin-left: 42%;
  margin-top: 5%;
}
h2.tentang{
  color: #ffffff;
  font-family: monospace;
  font-size: 3vw;
  margin-left: -4%;
}
h1.tentang{
  margin-left: 5%;
  color: #022f50;
  font-family: sans-serif;
  font-size: 2.5vw;
}
img.tentang{
  width: 5%;
}
img.tentang-lokasi{
  width: 6%;
  margin-bottom: -10%;
}
p.tentang{
  color: #fefefe;
  margin-left: 8%;
  margin-top: -3%
}
p.tentang-lokasi{
  margin-left: 8%;
  color: #fefefe;
}
.tentang{
  text-decoration: none;
}
p.tentang:hover{
  color: #000000;
}
form.pesan{
  position: relative;
  background-color: rgba(255,255,255,1);
  padding: 20px 20px 20px 20px;
  width: 60%;
  margin-top: 3%;
  margin-left: 2%;
}
.alamatpesan{
  width: 98%;
}
.nama{
  width: 48.1%;
}
form.order{
  background-color: rgba(255,255,255,1);
  padding: 20px 20px 20px 20px;
  width: 30%;
  margin-top: -54.5%;
  margin-left: 66%;
  text-align: left;
}
.namaproduk{
  margin-left: 50%;
  margin-top: -9.5%;
}

.simpanpesan{
  width: 794px;
  height: 45px;
  border: none;
  background: #00CFDF;
  color: black;
}
input[type="radio"]:first-child {
  margin-left: 0px;
}
input[type="radio"]:checked + label {
  font-weight: bold;
  font-size: 18px;
}
form.LoginAwal{
  position: relative;
  background-color: rgba(255,255,255,1);
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  width: 320px;
  height: 300px;
  margin : 20px auto;
  text-align: center;
}
input.pilihloginAdmin{
  position: absolute;
  margin-left: 40% ;
  margin-top: -17%;
  width: 20%;
  height: 45px;
  border: none;
  background: #00CFDF;
  color: black;
}
input.pilihloginUser{
  position: absolute;
  margin-left: 40% ;
  margin-top: -15%;
  width: 20%;
  height: 45px;
  border: none;
  background: #00CFDF;
  color: black;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 768px){
  body{
    background: url("img/Mobile.jpg");
    background-size: 270% 330%;
    background-repeat: no-repeat;
    background-position: right;
  }
  div.header{
    border-radius: 8px;
  }
  form.Signup{
    float: left;
    margin-top: -28px;
    margin-left: 70%;
  }
  input.Signup{
    width: 100%;
    height: 20.5px;
    font-size: 76%;
  }
  form.Signin{
    position: absolute;
    float: right;
    margin-top: -27px;
    margin-left: 82%;
  }
  input.Signin{
    width: 107%;
    height: 20px;
    font-size: 72%;
  }
  div.navigasi{
    margin-left: 0%;
  }
  div.navigasi ul{
    font-size: 68%;
  }
  form.cari{
    margin-top: -7px;
    margin-left: 72%;
  }
  .cari {
    width: 22%;
    border-bottom: 1px solid #252a2a;
    padding: 5px 0;
    font-size: 72%;
  }
  form.gaminge{
    font-size: 70%;
  }
  form.WithOnetech{
    font-size: 80%;
    margin-top: 3%;
    color: #4b4b4b;
  }
  input.selengkapnya{
    width: 22%;
    height: 20px;
    font-size: 60%;
  }
  div.contentindex{
    margin-top: 50%;
    margin-left: 5%;
  }
  .header img.logo{
    width: 55%;
  }
  .content-produk{
    grid-template-columns: 80%;
    margin-right: -19%;
  }
  .macam-produk{
    position: absolute;
    width: 23%;
    font-size: 90%
  }
  .tambahproduk {
    width: 87%;
    height: 30px;
    margin-top: 480%;
    margin-left: -6%;
  }
  #message{
    margin-top: 8%;
    height: 60%;
    width: 80%;
  }
  h3.message{
    font-size: 5vw;
  }
  .valid:before {
    left: -5%;
    text-align: center;
  }
  .invalid:before {
    left: -5%;
    text-align: center;
  }
  div.footer{
    margin-top: 1150%;
    height: 880px;
  }
  div.footer-kiri{
    width: 100%;
    padding-left: 1%;
    padding-top: 3%;
  }
  img.logo-footer{
    width: 60%;
    margin-left: 25%;
  }
  p.isi-footer{
    font-size: 4vw;
  }
  div.footer-tengah{
    position: absolute;
    margin-left: 25%;
    margin-top: 60%;
  }
  div.footer-kanan{
    float: left;
    margin-top: 85%;
    margin-left: 22%;
  }
  img.icon-footer{
    width: 15%;
  }
  p.isi-icon{
    margin-left: 25%;
    margin-top: -19%;
  }
  h3.site{
    font-size: 5vw;
  }
}
