body{
  background: url("img/Web 1920 – 1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
div.header{
  background-color: #252a2a;
  border-radius: 0px;
}
header.img {
  position: absolute;
  left: 0px;
  top: 0px;
}
form.Signup{
  float: left;
  margin-top: -66px;
  margin-left: 1120px;
}
input.Signup{
  width: 100px;
  height: 45px;
  border-radius: 50px;
  border: none;
  background: #009F9F;
  color: white;
}
form.Signin{
  float: right;
  margin-top: -66px;
  margin-right: 10px;
}
input.Signin{
  width: 100px;
  height: 45px;
  border-radius: 50px;
  border: none;
  background: #F8B807;
  color: white;
}
form.cari{
  position: absolute;
  float: right;
  margin-top: 5px;
  margin-left: 1140px;
}
form.cari-produk{
  position: absolute;
  float: right;
  margin-top: 5px;
  margin-left: 1130px;
}
input.loginin{
  width: 210px;
  height: 45px;
  border: none;
  background: #00CFDF;
  color: black;
}
input.daftarin{
  width: 210px;
  height: 45px;
  border: none;
  background: #00CFDF;
  color: black;
}
form.Login{
  background-color: rgba(255,255,255,1);
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  width: 320px;
  margin : 20px auto;
}
form.register{
  background-color: rgba(255,255,255,1);
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  width: 320px;
  margin : 20px auto;
}
input{
  padding: 3px;
  font-size: inherit;
}
input [type="text"] {
  display: block;
  margin-bottom: 10px;
  width : 100% ;
  border: 2px solid #305d60;
  background: #faf6d9;
}
input.register [type="submit"] {
  width: 344px;
  height: 45px;
  border: none;
  background: #00CFDF;
  color: #000000;
}
input.Login [type="password"] {
  display: block;
  margin-bottom: 10px;
  width : 100% ;
  border: 2px solid #305d60;
  background: #faf6d9;
}
form.gaminge{
  color: #9BFFFF;
  font-family: myanmar text;
  font-size: 30px;
}
form.WithOnetech{
  color: #4b4b4b;
  font-family: myanmar text;
  font-size: 25px;
  margin-top: -80px;
}
input.selengkapnya{
  width: 200px;
  height: 45px;
  border: none;
  background: #1d9fb6;
  color: white;
}
div.contentindex{
  margin-top: 120px;
  margin-left: 130px
}
div.navigasi ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
div.navigasi li{
  float: left;
}
div.navigasi li a{
  display: block;
  font-family:myanmar;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
div.navigasi{
  margin-left: 550px;
}
li.kategori{
	display:inline-block;
}
li.kategori:hover ul.isi-kategori{
	display: block;
}
ul.isi-kategori a:hover {
	color: #fff !important;
}
ul.isi-kategori{
	position: absolute;
	display: none;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: #f9f9f9;
}
ul.isi-kategori a{
	color: #383636 !important;
}
ul.isi-kategori a:hover{
	color: #232323 !important;
	background: #f3f3f3 !important;
}
.content-produk{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.content-produk > div {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.item1 {
  grid-row-start: 1;
  grid-row-end: 3;
}
.ket-produk{
  width: 200px;
  height: 45px;
  margin-left: 260px;
  /* border: none;
  background: #1d9fb6;
  color: white; */
}
